<!DOCTYPE html>
<html lang="fr">
<%- include ('./include/head') %>

<body id="home-page">
<div class="page container">
    <div class="row main-box">
        <div class="text-center">
            <img src="/images/logo.png" width="100" class="img-thumbnail center">
            <h5>
                Please verify you own an NFT from the collection
            </h5>
            <h3>
                Doodles
            </h3>
            <hr/>
            <button id="verify-metamask" class="btn btn-primary mt-5">Verify with Metamask</button>
            <a href="https://opensea.io/collection/doodles-official" target="_blank"
               style="display: block; text-decoration: underline;">Doodles on Opensea</a>
        </div>
    </div>
</div>
<%- include ('./include/scripts') %>
<script src="libs/home.js"></script>
</body>

</html>
